html{
    background-image: url(./img/fondo-madera-verde.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
section, .drawingSheet {
    margin: 10px;
}
#canvas{
    background-color: white;
    border: 1px solid grey;  
    display: flex;  
    align-items: center;
    box-shadow:5px 5px 15px rgb(102, 101, 101);
}
.drawingSheet{
    flex-direction: column;
    align-content: center;
}
#tools{
    display: flex;
    flex-direction: column;
}
.colorRange{
    display: flex;
    margin: 10px;
}
#color{
    width: 30px;
    height: 30px;
}
section{
    flex-direction: column;
}
body h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#tools input{
    margin: 5px;
    padding: 3px;
}
form p{
    
}
