html{
    background-image: url(./img/background-widescreen-paint-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
section, .drawingSheet {
    margin: 10px;
}
#canvas{
    background-color: white;
    border: 1px solid grey;  
    display: flex;  
    align-items: center;
    box-shadow:5px 5px 10px rgb(102, 101, 101);
}
.drawingSheet{
    font-weight: bold;
    color: black;
    flex-direction: column;
    text-align: center;
}
#tools{
    display: flex;
    flex-direction: column;
}
.colorRange{
    display: flex;
    margin: 10px;
}
#color{
    width: 30px;
    height: 30px;
}
section{
    flex-direction: column;
}
body h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 8px;
}
.btn{
    font-size: 18px;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    box-shadow:5px 5px 5px rgb(102, 101, 101);
}
p input{
    font-size: 12px;
}
