.container{
    display: flex;
    justify-content: center;
}
section, .drawingSheet {
    margin: 20px;
}
#canvas{
    background-color: white;
    border: 1px solid black;  
    display: flex;  
    align-items: center;
}
.drawingSheet{
    flex-direction: column;
}
#tools{
    display: flex;
    flex-direction: column;
}
.colorRange{
    display: flex;
    margin: 10px;
}
#color{
    width: 50px;
    height: 50px;
}
section{
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
}
